* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3rem;
  font-weight: 300;
}

h4,
h5 {
  font-size: 2.8rem;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
}

button {
  padding: 2rem 6rem;
  background: #4c6e97;
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  -webkit-transition: background .2s ease-out;
  transition: background .2s ease-out;
}

button:hover {
  background: #131c27;
}

button:focus {
  background: #27384d;
  outline-style: solid;
}

.main-head {
  background: #131c27;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.main-head nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  margin: auto;
  min-height: 10vh;
  padding: 2rem;
}

.main-head nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.main-head nav #logo {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 40rem;
          flex: 2 1 40rem;
  font-family: 'Pattaya', sans-serif;
  font-weight: 400;
}

.hero {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(transparent)), url("../img/landing-page.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.8), transparent), url("../img/landing-page.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 90vh;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.hero h3 {
  padding: 5rem;
}

#locations {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(transparent)), url("../img/new-york-page.png");
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url("../img/new-york-page.png");
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

#locations .cloud {
  position: absolute;
  pointer-events: none;
}

#locations .moving-cloud-1 {
  top: 0%;
  right: 0%;
  -webkit-animation: cloudAnimation 8s infinite alternate ease-in-out;
          animation: cloudAnimation 8s infinite alternate ease-in-out;
}

#locations .moving-cloud-2 {
  opacity: 0.5;
  top: 20%;
  right: 0%;
  z-index: -1;
  -webkit-animation: cloudAnimation 10s infinite alternate ease-in-out;
          animation: cloudAnimation 10s infinite alternate ease-in-out;
}

#locations .locations-head {
  width: 90%;
  margin: auto;
}

#locations .locations-head h2 {
  padding: 1rem 0;
  text-decoration: underline;
}

#locations .locations-head h3 {
  padding: 4rem 0;
  background: #2b2b2b5e;
  color: white;
}

@-webkit-keyframes cloudAnimation {
  from {
    -webkit-transform: translate(10%, -10%);
            transform: translate(10%, -10%);
  }
  to {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@keyframes cloudAnimation {
  from {
    -webkit-transform: translate(10%, -10%);
            transform: translate(10%, -10%);
  }
  to {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

.benefits-head {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #343c44;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 30vh;
  padding: 3rem;
  text-align: center;
}

.benefits-head h3 {
  padding: 1rem;
}

.card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25rem;
          flex: 1 1 25rem;
  margin: 2rem 5rem;
  min-height: 40vh;
  text-align: center;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.185);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.185);
}

.card .card-icon {
  background: #4c6e97;
}

.card .card-icon img {
  max-width: 15%;
  margin: 2rem;
}

.card h4,
.card p {
  padding: 1rem;
}

.cards {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  min-height: 70vh;
  width: 90%;
}

#contact {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(transparent)), url("../img/contact-mountain.png");
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url("../img/contact-mountain.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact .form-wrapper {
  background: rgba(19, 28, 39, 0.8);
  width: 60%;
  color: white;
  border-radius: 20px;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#contact .form-wrapper .form-head {
  padding: 4rem;
}

#contact .form-wrapper .name-form,
#contact .form-wrapper .email-form {
  padding: 3rem;
}

#contact .form-wrapper .name-form label,
#contact .form-wrapper .email-form label {
  margin: 0rem 3rem;
}

#contact .form-wrapper button {
  width: 100%;
  margin-top: 8rem;
  padding: 2rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#contact .form-wrapper input {
  padding: 1rem 3rem;
}

footer {
  color: white;
  background: rgba(19, 28, 39, 0.8);
}

footer .footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding: 2rem;
  width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 10vh;
}

footer .footer-wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-wrapper h5 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

@media screen and (max-width: 935px) {
  html {
    font-size: 45%;
  }
  nav {
    text-align: center;
  }
  nav #logo {
    padding: 2rem;
  }
  #locations .moving-cloud-1 {
    z-index: -1;
  }
  #locations .moving-cloud-2 {
    z-index: -2;
  }
  #contact .form-wrapper {
    width: 100vw;
  }
  footer {
    text-align: center;
  }
  footer h5 {
    padding-bottom: 2rem;
  }
}
/*# sourceMappingURL=main.css.map */
